<div class="container list-container">
    <div class="list-header d-flex p-2 justify-content-between align-items-center">
        <app-search-bar></app-search-bar>
        <button (click)="addProduct()" class="btn btn-primary">Add product</button>
    </div>
    <div class="table-wrapper">
        <table class="table">
            <thead>
            </thead>
            <tbody>
                @for (product of products$ | async; track product) {
                    <tr app-shop-list-row [product]="product"></tr>
                }
            </tbody>
        </table>
    </div>
</div>

