/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

$dark-blue: #131842;
$orange: #E68369;
$coffee: #ECCEAE;
$beige: #FBF6E2;

a {
    text-decoration: none;
    color: black;
}